<!DOCTYPE html>
<html>
	<head>
		<title>to activate ur mail</title>
	</head>
	<body>
		<form action="/activate/" method="POST">
		<h3>if you want to activate your mail, enter your mail and then click below</h3>
		<input type="email" name="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required title="example@gmail.com" style="width: 488px;margin-left: 441px;margin-top: 200px;height: 50px;">
		<button type="submit" class="btn btn-info"  style="margin-left: 441px;border:1px solid rgb(84,84,84); width: 487px;margin-top: 25px;background-color: #717171;color:black;height: 50px;">Activate</button>
		</form>

	</body>
</html>